@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Lobster&family=Poppins:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    font-family: 'Poppins', sans-serif;
}
.footer{
    text-align: center;
}
.social-icons i {
    margin: 10px 20px;
    color: #fff;
    font-size: 20px;

}

.inspired{
    color: #777778;
    font-size: 15px;
    margin: 10px 20px;

}

.inspired span {
    color: #e2e2e2;
    font-size: 15px;
}